
ignoreFilesPatterns: [
  "catalog-v\\d+\\.xml",
  ".*README\\..*",
  "\\.DS_Store",
  "LICENSE"
]

cacheLruMapSize: 10000

logLevel: WARN

logLocation: STDOUT

enforceConstraints: false

uriBase: "http://vital.ai"

inferenceLevel: OWL_MEM

xmlStringFilter: true

domainsStrategy: classpath