profile.default {

  #the endpoint type is set in one place, each type has own config section below
  # values: LuceneMemory | LuceneDisk | Allegrograph | IndexDB | VitalPrime
  type = LuceneMemory

  organizationID = customer

  appID = app


  LuceneMemory {

  }

  LuceneDisk {
    rootPath: "<set me!>"
  }

  Allegrograph {

    serverURL = "http://127.0.0.1:10035"

    username = super

    password = xyzzy

    catalogName = ""

    repositoryName = "vital-service-test"

  }


  IndexDB {
    
    # values: LuceneDisk
    index_impl = LuceneDisk

    # values: Allegrograph
    database_impl = Allegrograph
    
    LuceneDisk {
      rootPath: "<set me!>"
    }
    
    Allegrograph {

      serverURL = "http://127.0.0.1:10035"

      username = super

      password = xyzzy

      catalogName = ""

      repositoryName = "vital-service-test"

    }


  }

  VitalPrime {

     endpointURL = "http://<host>:<port>/java"

  }
  
  
}